<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    {% set title = page_title ~ ' - ' ~ site_name if page_title else site_name %}
    {% if meta and meta.title %}{% set title = meta.title[0] ~ ' - ' ~ site_name %}{% endif %}
    <title>{{ title }}</title>

    <!-- Author and License -->
    {% if site_author %}<meta name="author" content="{{ site_author }}" />{% endif %}
    <meta name="dcterms.license" content="http://www.apache.org/licenses/LICENSE-2.0" />

    <!-- Page Description -->
    <meta name="description" content="{% if meta and meta.description %}{{ meta.description[0] }}{% else %}{{ config.site_description }}{% endif %}" />
    <meta name="keywords" content="pagerduty, incident, response" />

    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <meta name="theme-color" content="#363636" />

    <!-- Canonical Link -->
    {% if canonical_url %}<link rel="canonical" href="{{ canonical_url }}">{% endif %}

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="/{{ config.extra.favicon }}" />
    <link rel="icon" type="image/png" href="/{{ config.extra.favicon }}" />
    <link rel="apple-touch-icon" href="/{{ config.extra.favicon }}">

    <!-- Apple -->
    <meta name="apple-mobile-web-app-title" content="{{ site_name }}" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <!-- Open Graph -->
    <meta property="og:url" content="{{ canonical_url }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:site_name" content="{{ site_name }}" />
    <meta property="og:description" content="{% if meta and meta.description %}{{ meta.description[0] }}{% else %}{{ config.site_description }}{% endif %}" />
    <meta property="og:image" content="{{ site_url }}/{% if meta and meta.cover %}{{ meta.cover[0] }}{% else %}{{ config.extra.cover }}{% endif %}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{% if meta and meta.description %}{{ meta.description[0] }}{% else %}{{ config.site_description }}{% endif %}" />
    <meta name="twitter:image" content="{{ site_url }}/{% if meta and meta.cover %}{{ meta.cover[0] }}{% else %}{{ config.extra.cover }}{% endif %}" />

    <!-- Style -->
    <link rel="stylesheet" href="{{ base_url }}/assets/stylesheets/application-a422ff04cc.css">
    {% for path in extra_css %}
      <link rel="stylesheet" href="{{ path }}">
    {% endfor %}
    {% if meta and meta.style %}
      <link rel="stylesheet" href="{{ base_url }}/assets/css/{{ meta.style[0] }}.css">
    {% endif %}

    <!-- Scripts -->
    <script src="{{ base_url }}/assets/javascripts/modernizr-4ab42b99fd.js"></script>
    {% block extrahead %}{% endblock %}
  </head>
  {% set palette = config.extra.get("palette", {}) %}
  {% set primary = palette.primary | replace(' ', '-') | lower %}
  {% set accent  = palette.accent  | replace(' ', '-') | lower %}
  <body class="{% if primary %}palette-primary-{{ primary }}{% endif %} {% if accent %}palette-accent-{{ accent }}{% endif %}">
    {% if repo_name == "GitHub" and repo_url %}
      {% set repo_id = repo_url | replace("https://github.com/", "") %}
      {% if repo_id[-1:] == "/" %}
        {% set repo_id = repo_id[:-1] %}
      {% endif %}
    {% endif %}
    <div class="backdrop">
      <div class="backdrop-paper"></div>
    </div>
    <input class="toggle" type="checkbox" id="toggle-drawer">
    <input class="toggle" type="checkbox" id="toggle-search">
    <label class="toggle-button overlay" for="toggle-drawer"></label>
    <header class="header">
      {% include "header.html" %}
    </header>
    <main class="main">
      {% set h1 = "\x3ch1 id=" in content %}
      <div class="drawer">
        {% include "drawer.html" %}
      </div>
      <article class="article">
        <div class="wrapper">
          {% if not h1 %}
            <h1>{{ page_title | default(site_name, true)}}</h1>
          {% endif %}
          {% if meta and meta.pdf %}
          <div id="download-link">
            <a href="{{ meta.pdf[0] }}" target="_blank" title="Download slides as PDF." data-action="download">
              <i class="icon icon-download"></i>Slides
            </a>
          </div>
          {% endif %}
          {{ content }}
          <aside class="copyright" role="note">
            {% if copyright %}
              {{ copyright }} &ndash;
            {% endif %}
            Documentation built with
            <a href="http://www.mkdocs.org" target="_blank">MkDocs</a>
            using the
            <a href="http://squidfunk.github.io/mkdocs-material/" target="_blank">
              Material
            </a>
            theme.
          </aside>
          {% block footer %}
            <footer class="footer">
              {% include "footer.html" %}
            </footer>
          {% endblock %}
        </div>
      </article>
      <div class="results" role="status" aria-live="polite">
        <div class="scrollable">
          <div class="wrapper">
            <div class="meta"></div>
            <div class="list"></div>
          </div>
        </div>
      </div>
    </main>
    <script>
      var base_url = '{{ base_url }}';
      var repo_id  = '{{ repo_id }}';
    </script>
    <script src="{{ base_url }}/assets/javascripts/application-997097ee0c.js"></script>
    {% for path in extra_javascript %}
      <script src="{{ path }}"></script>
    {% endfor %}
    {% if meta and meta.style and meta.style[0] == "slides" %}
      <script src="/assets/js/jquery-1.10.2.min.js"></script>
      <script src="/assets/js/lazy_load_images.js"></script>
    {% endif %}
    {% if google_analytics %}
      <script>
        /* Google Analytics */
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ google_analytics[0] }}', '{{ google_analytics[1] }}');
        ga('send', 'pageview');

        /* Track outbound links */
        var buttons = document.querySelectorAll('a');
        Array.prototype.map.call(buttons, function(item) {
          if (item.host != document.location.host) {
            item.addEventListener('click', function() {
              var action = item.getAttribute('data-action') || 'follow';
              ga('send', 'event', 'outbound', action, item.href);
            });
          }
        });

        /* Register handler to log search on blur */
        var query = document.querySelector('.query');
        query.addEventListener('blur', function() {
          if (this.value) {
            var path = document.location.pathname;
            ga('send', 'pageview', path + '?q=' + this.value);
          }
        });
      </script>
    {% endif %}
  </body>
</html>
