/* CSS alterations for this particular site only. */

/* Super horrible hack to get the training PDF images correct */
#national-incident-management-system-nims ~ p img {
  display: inline;
}
#national-incident-management-system-nims ~ p:nth-of-type(8) {
  text-align: center;
}

/* Custom severity table */
table.custom-table td ul {
  margin-top: -0.8em;
  padding-top: 0px;
  padding-left: 0px;
}

table.custom-table td.warning {
  font-weight: bold;
  text-align: center;
  color: #f00;
  background: #ffe7e7;
}

table.custom-table td.sev-1 {
  background: #ffe7e7;
  color: #f00;
  font-weight: bold;
}

table.custom-table td.sev-2 {
  background: #ffd;
  color: rgb(255,153,0);
  font-weight: bold;
}

table.custom-table td.sev-3 {
  background: #e0f0ff;
  color: rgb(51,102,255);
  font-weight: bold;
}

table.custom-table td.sev-4 {
  background: #f0f0f0;
  color: rgb(128,128,128);
  font-weight: bold;
}

table.custom-table td.sev-5 {
  background: #ddfade;
  color: rgb(0,128,0);
  font-weight: bold;
}

table.custom-table td.centered {
  text-align: center;
}

/* Contact summary table */
#contact-summary {
  margin-bottom: -2em;
  background: #fff;
  color: #000;
}

#contact-summary tr:last-of-type td {
  border-bottom: none;
}

/* Reviewed dates */
#reviewed-dates {
  margin-top: 1em;
  text-align: right;
}

#reviewed-dates abbr {
  border-bottom: 1px dashed #aaa;
}

#reviewed-dates span {
  padding-left: 1em;
}
